<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
      <input type="button" value="findWally"  onclick="location.href='/findWally'">
      <input type="button" value="createNews" onclick="location.href='/createNews'">
      <input type="button" value="findNews"   onclick="location.href='/findNews'">
      <input type="button" value="Mongo to MySQL"   onclick="location.href='/Mongo2MySQL'">
      <input type="button" value="save_mongo"   onclick="location.href='/save_mongo'">
      <input type="button" value="ALL_Mongo"   onclick="location.href='/ALL_Mongo'">
      <input type="button" value="ALL_MySQL"   onclick="location.href='/ALL_MySQL'">
  </body>

</html>