<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  
  <body>

    <form method="post" action="/save_mongo">

      <p>Title : <input type="text"   name ="Title" ></p>
    
      <p>Tags : <input type="text"   name ="Tags" ></p>
      
      <p>Date : <input type="text"   name ="Date" ></p>
      
      <p>Detail : <input type="text"   name ="Detail" ></p>
      
      <p>Author : <input type="text"   name ="Author" ></p>
      
      <input type="submit" value="find" >
      
    </form>

  </body>

  </html>